.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 175px;
    max-height: 300px;
  }
  
  .container > p {
    word-break: break-all;
  }